$primary-color: rgb(64, 64, 231);
$light-primary-color: rgb(171, 167, 167);
$very-primary-color: rgb(219, 216, 216);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#home {
    background-image: url(assests/img/Home.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 10vh;
    margin-right: 20vh;
    align-items: center;
    list-style-type: none;
    position: sticky;
    text-decoration: none;
    top: 0;
    .nav-items {
        font-size: medium;
        font-weight: bold;
        text-decoration: none;
        padding: 0 5vh;
        a {
            color: black;
            text-decoration: none;
            &:hover {
                text-shadow: 1px 1px $primary-color;
            }
        }
        img {
            width: 7vw;
            height: auto;
        }
    }
}

.headline {
    position: relative;
    font-size: 3rem;
    top: 30%;
    margin-left: 20%;
}

.tagline {
    position: absolute;
    color: $primary-color;
    top: 48%;
    left: 20%;
    &:after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: black;
        border-radius: 50%;
        width: 10vw;
        bottom: -2vh;
        left: -0px;
    }
}

.button {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
    top: 55%;
    left: 20%;
    .button-home {
        top: 10%;
        padding: 10px 20px;
        background-color: $primary-color;
        margin: 5px;
        border-radius: 10%;
        a {
            text-decoration: none;
            color: white;
        }
        &:hover {
            box-shadow: 2px 2px rgb(15, 1, 1);
        }
        &:active {
            color: black;
        }
    }
}

.aboutme {
    display: flex;
    flex-direction: row;
    .aboutme-item {
        width: 50%;
        align-self: center;
        img {
            margin-left: 15vw;
            width: auto;
            height: 50vh;
        }
        .intro {
            padding-right: 5vw;
            h2 {
                color: $primary-color;
            }
            p {
                margin-top: 10px;
                text-align: justify;
                font-family: sans-serif;
            }
        }
    }
}

.skill {
    display: grid;
    height: 70vh;
    background-image: linear-gradient( white, $light-primary-color, $light-primary-color, white);
    grid-template-columns: 20% auto;
    flex-wrap: nowrap;
    li {
        list-style: none;
    }
    .skill-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        height: 100%;
        align-content: space-around;
        .skill-item {
            color: white;
            text-align: center;
            font-size: 1em;
            margin: 20px 70px;
            padding: 20px;
            border-radius: 20px;
            background-color: $primary-color;
            &:hover {
                color: $primary-color;
                background-color: white;
            }
        }
    }
    h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 75%;
        color: black;
    }
}

.project {
    height: auto;
    background-color: $primary-color;
    border-radius: 50px 50px 0px 0px;
    margin: 0px 2vw;
    h2 {
        margin-top: 30px;
        font-size: 2rem;
        text-align: center;
        color: black;
    }
    .work {
        display: grid;
        grid-template-columns: auto auto 20%;
        justify-content: space-evenly;
        align-content: space-evenly;
        padding: 20px;
        row-gap: 40px;
        column-gap: 70px;
        .work-item {
            margin-left: 20px;
            background-image: linear-gradient($light-primary-color, white, $light-primary-color);
            padding: 30px;
            border-radius: 50px 50px 0px 0px;
            .project-heading {
                font-size: 1.5em;
                text-align: center;
                margin: 20px 0px;
            }
            li {
                margin: 10px;
                text-align: justify;
                &::first-letter {
                    text-indent: 20px;
                }
            }
        }
        button {
            background-color: $primary-color;
            margin: 5px;
            border-radius: 10%;
            a {
                text-decoration: none;
                color: white;
            }
            &:hover {
                box-shadow: 2px 2px rgb(15, 1, 1);
            }
            &:active {
                color: black;
            }
        }
        .btn {
            margin: 200px 40px;
            padding: 20px;
        }
    }
}

.footer {
    .footer-main {
        background-color: $very-primary-color;
        padding: 30px 0px;
        display: flex;
        flex-direction: row;
        .footer-intro {
            text-align: left;
            margin-left: 30px;
        }
        .footer-contact {
            text-align: left;
            margin-left: 55vw;
            ul {
                list-style: none;
                li {
                    margin: 10px 0px;
                    a {
                        text-decoration: none;
                    }
                }
                .fa {
                    color: $primary-color;
                }
                .fa-lg {
                    margin: 14px 14px 0px 0px;
                }
            }
        }
    }
    .footer-line {
        text-align: center;
        background-color: $primary-color;
        color: $light-primary-color;
        padding: 10px;
    }
}

=======>>>>>>>321911114bd123ca4daf12721f897f6ab4fbd4d0